body {
  font-size:           small;
  font-family:         Verdana, Helvetica, Arial, sans-serif;
  line-height:         1.6em;
}

h1, h2 {
  color:               #007e7e;
}

h1 {
  font-size:           150%;
}

h2 {
  font-size:           130%;
}

#guarantee {
  line-height:         1.9em;
  font-style:          italic;
  font-family:         Georgia, "Times New Roman";
  color:               #444444;
  border-color:        white;
  border-width:        1px;
  border-style:        dashed;
  background-color:    #a7cece;
  padding:             25px;
  margin:              30px;
/*
  padding-left:        80px;
  margin-right:        250px;
  background-image:    url(images/background.gif);
  background-repeat:   no-repeat;
  background-position: top left;
*/
}

p, h1, body{
  margin: 0;
  padding: 0;
}

.guarantee {
  border-color:        white;
  border-width:        1px;
  background-color:    #a7cece;
  border-color:        white;
  border-width:        1px;
  border-style:        dashed;
  line-height: 1.9em;
  color: #444444;
  font-style: italic;
  font-family: Georgia,"Times New Roman";
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 25px;
  padding-left: 80px;
  margin-right: 250px;
  border-style: outset;
  border-style: 2px;
  border-color: red;
  border-bottom-style: dashed;
  border-radius: 15px;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
}